<style media="screen">
  ul.nav-tabs li.nav-item a:not(.active) {
    color: #007bff;
  }
  div.bootstrap.snippet {
    margin-top: 80px;
    font-size: 14px;
  }
  a.nav-link {
    outline: none;
  }
</style>
<div class="container bootstrap snippet">
  <div class="row">
    <div class="col-sm-10">
      <h2 style="margin-left: 10px;">User name</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->

      <div class="">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <input type="file" class="pull-right center-block file-upload">
      </div>
      <br>

    </div><!--/col-3-->
    <div class="col-sm-9">
      <h2>Account Information</h2>
      <br>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home">Personal Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu1">Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#menu2">Vehicles</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <h3>HOME</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <h3>Menu 1</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="container tab-pane fade">
          <h3 style="padding: 10px;">Menu 2</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Entry</th>
                <th>Entry</th>
                <th>Entry</th>
                <th>Entry</th>
                <th>Entry</th>
                <th>Entry</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sample</td>
                <td>Filter</td>
                <td>12-11-2011 11:11</td>
                <td>OK</td>
                <td>123</td>
                <td>Do some other</td>
              </tr>
              <tr>
                <td>Try</td>
                <td>It</td>
                <td>11-20-2013 08:56</td>
                <td>It</td>
                <td>Works</td>
                <td>Do some FILTERME</td>
              </tr>
              <tr>
                <td>ยง</td>
                <td>$</td>
                <td>%</td>
                <td>&</td>
                <td>/</td>
                <td>!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div><!--/col-9-->
</div><!--/row-->
