
<!DOCTYPE html>
<html lang="en">

<body>
  <div class="wrapper">
    <!-- HEADER -->
    <%= render 'layouts/home/header' %>
    <div class="container">
      <!-- HEADER -->

      <div class="form-gop-y text-center">
        <h2>Bạn có gì muốn nhắn nhủ DANA CAR PARKING?</h2>
        <span><i class="fa fa-envelope" aria-hidden="true"></i>.com.vn</span>
        <span><i class="fa fa-phone" aria-hidden="true"></i>1900000</span>
        <form>
          <div class="form-row">
            <div class="col-4">
              <input type="text" class="form-control" placeholder="Họ và tên">
            </div>
            <div class="col-4">
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="col-4">
              <input type="text" class="form-control" placeholder="Số điện thoại">
            </div>
            <div class="col-12">
              <textarea type="text" class="form-control" placeholder="Nội dung" rows="5"></textarea>
            </div>
            <div class="col-12 flex-end">
              <button class="btn-ok">OK</button>
            </div>
          </div>
        </form>
      </div>

      </table>
      <footer class="site-footer">
          <div class="footer-widgets">
              <div class="container">
                  <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="foot-about">
                              <h2><a href="javascript:void(0)">DANA PARK</a></h2>

                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>

                              <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                          </div><!-- .foot-about -->
                      </div><!-- .col -->

                      <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                          <div class="foot-contact">
                              <h2>Contact</h2>
                              <ul class="p-0 m-0">
                                  <li><span>Address:</span>Lorem ipsum dolor sit amet.</li>
                                  <li><span>Phone:</span>Lorem, ipsum dolor.</li>
                                  <li><span>Email:</span>Lorem, ipsum dolor.</li>
                              </ul>
                          </div>
                      </div><!-- .col -->

                      <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                          <div class="foot-links">
                              <h2>Usefull Links</h2>

                              <ul class="p-0 m-0">
                                  <li><a href="javascript:void(0)">Home</a></li>
                              </ul>
                          </div><!-- .foot-links -->
                      </div><!-- .col -->
                  </div><!-- .row -->
              </div><!-- .container -->
          </div><!-- .footer-widgets -->
      </footer><!-- .site-footer -->

    </div>
  </div>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/script.js"></script>
</body>
