
<!DOCTYPE html>
<html lang="en">

<body>
  <div class="wrapper">
    <!-- HEADER -->
    <div class="container">
    <%= render 'layouts/home/header' %>
      <!-- HEADER -->

      <div class="form-gop-y text-center">
        <h4>        Bạn có gì muốn nhắn nhủ gì?</h4>
        <span><i class="fa fa-envelope" aria-hidden="true"></i>.com.vn</span>
        <span><i class="fa fa-phone" aria-hidden="true"></i>1900000</span>
        <form>
          <div class="form-row">
            <div class="col-4">
              <input type="text" class="form-control" placeholder="Họ và tên">
            </div>
            <div class="col-4">
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="col-4">
              <input type="text" class="form-control" placeholder="Số điện thoại">
            </div>
            <div class="col-12">
              <textarea type="text" class="form-control" placeholder="Nội dung" rows="5"></textarea>
            </div>
            <div class="col-12 flex-end">
              <button class="btn-ok">Gửi</button>
            </div>
          </div>
        </form>
      </div>

      </table>


    </div>
  </div>
<script src="./js/jquery.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/script.js"></script>
</body>
