<header class="site-header">
  <div class="swiper-container hero-slider">
    <div class="swiper-slide hero-content-wrap">
      <div class="hero-content-overlay position-absolute w-100 h-100">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
              <header class="entry-header">
                <h1>DANA  <br> CAR PARKING </h1>
              </header>

              <div class="entry-content mt-4">
                <p>Do nhu cầu kiểm soát an ninh trật tự tại các bãi đỗ xe của các nhà máy, khu chung cư, trung tâm thương mại,
                   siêu thị lớn với lượng xe ra vào lớn dẫn tới khâu quản lý tại các bãi đậu xe trở nên khó khăn,
                   phức tạp quá tải.
                   Để đảm bảo an ninh trật tự, bảo vệ tài sản của mỗi cá nhân hệ thống quản lý bãi đỗ xe
                   thông minh ra đời đã đáp ứng được nhu cầu cần thiết,
                    cấp bách giảm thiểu rủi ro và sức lực cho con người.
                    </p>
                    <<p>Từ đó DANA Car Parking được ra đời...</p>

              </div><!-- .entry-content -->

              <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">

              </footer><!-- .entry-footer -->
            </div><!-- .col -->
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
              <iframe width="600" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Da%20Nang+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create route map</a></iframe></div><br />
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .hero-content-overlay -->
    </div><!-- .hero-content-wrap -->
  </div><!-- .hero-slider -->
</header><!-- .site-header -->

<div class="our-services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="our-services-wrap">
          <h2>Chúng tôi đã làm gì?            </h2>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="our-services-cont">
                <header class="entry-header d-flex flex-wrap align-items-center">

                  <h3>Cải thiện dịch vụ.</h3>
                </header>

                <div class="entry-content">
                  <p>Dịch vụ luôn luôn được cải thiện tốt nhất để phục vụ khách hàng.</p>
                </div>

                <footer class="entry-footer">
                  <a href="#">Đọc thêm</a>
                </footer>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="our-services-cont">
                <header class="entry-header d-flex flex-wrap align-items-center">

                  <h3>Giá rẻ.</h3>
                </header>

                <div class="entry-content">
                  <p>Mức giá rẻ phù hợp cho mọi người. Bạn chỉ việc trả tiền đúng trên trang web
                    và an tâm tận hưởng bãi xe.</p>
                </div>

                <footer class="entry-footer">
                  <a href="#">Đọc thêm</a>
                </footer>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="our-services-cont">
                <header class="entry-header d-flex flex-wrap align-items-center">

                  <h3>Lựa chọn tốt hơn</h3>
                </header>

                <div class="entry-content">
                  <p>Là một lựa chọn chủ động cho bạn. Khi đã nắm bắt lấy thông tin về bãi đậu và đặt trước một chỗ cho xe của mình để không phải loay hoay tìm chỗ để bên đường.</p>
                </div>

                <footer class="entry-footer">
                  <a href="#">Đọc thêm</a>
                </footer>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="subscribe-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h2>Subscribe to our newsletter</h2>
        <form>
          <input type="email" placeholder="E-mail address">
          <input class="button gradient-bg" type="submit" value="Subscribe">
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="foot-about">
            <h2><a href="javascript:void(0)">DANA CAR PARK</a></h2>

            <p>Là nơi để bạn trao trọn niềm tin.</p>

            <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
          </div><!-- .foot-about -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
          <div class="foot-contact">
            <h2>Liên hệ</h2>
            <ul class="p-0 m-0">
              <li><span>Địa chỉ :</span>Lorem ipsum dolor sit amet.</li>
              <li><span>Điện thoại :</span>Lorem, ipsum dolor.</li>
              <li><span>Email :</span>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
          <div class="foot-links">
            <h2>Usefull Links</h2>

            <ul class="p-0 m-0">
              <li><a href="javascript:void(0)">Home</a></li>
            </ul>
          </div><!-- .foot-links -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .footer-widgets -->
</footer><!-- .site-footer -->
