<div class="our-services">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="our-services-wrap">
          <h2>Our Services</h2>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="our-services-cont">
                <header class="entry-header d-flex flex-wrap align-items-center">
                  <!-- <img src="images/cardiogram.png" alt=""> -->

                  <h3>Lorem.</h3>
                </header>

                <div class="entry-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                </div>

                <footer class="entry-footer">
                  <a href="#">read more</a>
                </footer>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="our-services-cont">
                <header class="entry-header d-flex flex-wrap align-items-center">
                  <!-- <img src="images/cardiogram.png" alt=""> -->

                  <h3>Lorem.</h3>
                </header>

                <div class="entry-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                </div>

                <footer class="entry-footer">
                  <a href="#">read more</a>
                </footer>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="our-services-cont">
                <header class="entry-header d-flex flex-wrap align-items-center">
                  <!-- <img src="images/cardiogram.png" alt=""> -->

                  <h3>Lorem.</h3>
                </header>

                <div class="entry-content">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris.</p>
                </div>

                <footer class="entry-footer">
                  <a href="#">read more</a>
                </footer>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="subscribe-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <h2>Subscribe to our newsletter</h2>
        <form>
          <input type="email" placeholder="E-mail address">
          <input class="button gradient-bg" type="submit" value="Subscribe">
        </form>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="foot-about">
            <h2><a href="javascript:void(0)">DANA PARK</a></h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>

            <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
          </div><!-- .foot-about -->
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
          <div class="foot-contact">
            <h2>Contact</h2>
            <ul class="p-0 m-0">
              <li><span>Address:</span>Lorem ipsum dolor sit amet.</li>
              <li><span>Phone:</span>Lorem, ipsum dolor.</li>
              <li><span>Email:</span>Lorem, ipsum dolor.</li>
            </ul>
          </div>
        </div><!-- .col -->

        <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
          <div class="foot-links">
            <h2>Usefull Links</h2>

            <ul class="p-0 m-0">
              <li><a href="javascript:void(0)">Home</a></li>
            </ul>
          </div><!-- .foot-links -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .footer-widgets -->
</footer><!-- .site-footer -->

<div class="modal" tabindex="-1" role="dialog" id="loginModal" aria-labelledby="loginModal" aria-hidden="true">
  <form action="">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Tài khoản</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Mật khẩu</span>
            </div>
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="modal-footer">
          <a href="javascript:void(0)" class="float-left">Quên mật khẩu?</a>
          <button type="button" class="btn btn-primary">Đăng nhập</button>
        </div>
        <button type="button" class="btn btn-primary">Đăng nhập với Facebook</button>
        <button type="button" class="btn btn-danger">Đăng nhập với Google</button>
      </div>
    </div>
  </form>
</div>

<div class="modal" tabindex="-1" role="dialog" id="registerModal" aria-labelledby="registerModal" aria-hidden="true">
  <form>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label">Họ và tên:</label>
            <div class="col-sm-8">
              <input type="text"  class="form-control" id="name" value="email@example.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="username" class="col-sm-4 col-form-label">Tên đăng nhập:</label>
            <div class="col-sm-8">
              <input type="text"  class="form-control" id="username" value="email@example.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label">Mật khẩu:</label>
            <div class="col-sm-8">
              <input type="password"  class="form-control" id="password" value="123123">
            </div>
          </div>
          <div class="form-group row">
            <label for="password-confirm" class="col-sm-4 col-form-label">Xác nhận mật khẩu:</label>
            <div class="col-sm-8">
              <input type="password"  class="form-control" id="password-confirm" value="123123">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email:</label>
            <div class="col-sm-8">
              <input type="text"  class="form-control" id="email" value="email@example.com">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-sm-4 col-form-label">Email:</label>
            <div class="col-sm-8">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Người tìm việc
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Nhà tuyển dụng
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Đăng ký</button>
        </div>
      </div>
    </div>
  </form>
</div>
