<style media="screen">
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #007bff;
  }
</style>

<div class="container">
  <div class="select-parking">
    <div class="form-group">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <label for="selectPark">Bãi: </label>
          <select id="selectPark" class="form-control">
            <option value="0">Chọn bãi</option>
            <% @parkings.each do |p| %>
            <option value="<%= p[0] %>"><%= p[1] %></option>
            <% end %>
          </select>
        </div>
        <div class="col-md-3">
          <label for="selectSlot">Số chỗ: </label>
          <select id="selectSlot" class="form-control">
            <option value="0">Loại xe của bạn</option>
            <option value="1">4 - 7</option>
            <option value="2">12 - 16</option>
            <option value="3"> Trên 16 chỗ</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="result-parking container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-9">
        <ul class="nav nav-tabs" id="resultTab" role="tablist">
          <li class="nav-item" style="display: none;">
            <a class="nav-link" data-toggle="tab" role="tab" href="#" aria-controls="" aria-selected="false"></a>
          </li>
        </ul>
        <div class="tab-content" id="resultTabContent">
          <div class="tab-pane show" id="" role="tabpanel" aria-labelledby="" style="display: none;">
            <div class="container">
              <ul class="row slot-list-items">
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
