<div class="wrapper">
    <div class="container">
      <!-- HEADER -->
      <%= render 'layouts/home/new_header' %>
      <div class="price-container">
        <h1 class="text-center" style="margin: 50px 0">Bảng giá</h1>
        <div class="places">
          <ul class="text-center">
            <li>
              <a href="javascript:void(0)"><i class="fa fa-car fa-2x selected" aria-hidden="true"></i></a>
              <p>Đà Nẵng</p>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-car fa-2x" aria-hidden="true"></i></a>
              <p>Hà Nội</p>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-car fa-2x" aria-hidden="true"></i></a>
              <p>Tp.HCM</p>
            </li>
          </ul>
        </div>
        <table class="price-table">
          <thead>
            <th colspan="2" class="text-center">
              Chi phí xe <span class="places-des">Đà Nẵng</span>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>Giá tối thiểu</td>
              <td>25.000đ/2km đầu</td>
            </tr>
            <tr class="odd">
              <td>Giá tối thiểu</td>
              <td>25.000đ/2km đầu</td>
            </tr>
            <tr>
              <td>Giá tối thiểu</td>
              <td>25.000đ/2km đầu</td>
            </tr>
          </tbody>
        </table>
      </div>

      </table>
      <footer class="site-footer">
          <div class="footer-widgets">
              <div class="container">
                  <div class="row">
                      <div class="col-12 col-md-6 col-lg-4">
                          <div class="foot-about">
                              <h2><a href="javascript:void(0)">DANA PARK</a></h2>

                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien.</p>

                              <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</p>
                          </div><!-- .foot-about -->
                      </div><!-- .col -->

                      <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                          <div class="foot-contact">
                              <h2>Contact</h2>
                              <ul class="p-0 m-0">
                                  <li><span>Address:</span>Lorem ipsum dolor sit amet.</li>
                                  <li><span>Phone:</span>Lorem, ipsum dolor.</li>
                                  <li><span>Email:</span>Lorem, ipsum dolor.</li>
                              </ul>
                          </div>
                      </div><!-- .col -->

                      <div class="col-12 col-md-6 col-lg-4 mt-5 mt-md-0">
                          <div class="foot-links">
                              <h2>Usefull Links</h2>

                              <ul class="p-0 m-0">
                                  <li><a href="javascript:void(0)">Home</a></li>
                              </ul>
                          </div><!-- .foot-links -->
                      </div><!-- .col -->
                  </div><!-- .row -->
              </div><!-- .container -->
          </div><!-- .footer-widgets -->
      </footer><!-- .site-footer -->

    </div>
  </div>
