<div class="wrapper">
    <div class="container">
      <!-- HEADER -->
      <%= render 'layouts/home/new_header' %>
      <div class="price-container">
        <h1 class="text-center" style="margin: 50px 0">Bảng giá</h1>
        <div class="places">
          <ul class="text-center">
            <li>
              <a href="javascript:void(0)"><i class="fa fa-car fa-2x selected" aria-hidden="true"></i></a>
              <p>4-7 chỗ</p>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-car fa-2x" aria-hidden="true"></i></a>
              <p>12-16 chỗ</p>
            </li>
            <li>
              <a href="javascript:void(0)"><i class="fa fa-car fa-2x" aria-hidden="true"></i></a>
              <p>Trên 16 chỗ</p>
            </li>
          </ul>
        </div>
        <table class="price-table">
          <thead>
            <th colspan="2" class="text-center">
              Chi phí xe <span class="places-des"></span>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>Giá tối thiểu</td>
              <td>25.000đ/2km đầu</td>
            </tr>
            <tr class="odd">
              <td>Giá tối thiểu</td>
              <td>25.000đ/2km đầu</td>
            </tr>
            <tr>
              <td>Giá tối thiểu</td>
              <td>25.000đ/2km đầu</td>
            </tr>
          
          </tbody>
        </table>
      </div>

      </table>


    </div>
  </div>
