<style media="screen">
  .form-control-plaintext {
    padding-top: 0px;
  }
</style>
<div class="container" style="margin-top: 30px;">
  <div class="select-parking">
    <div class="form-group">
      <div class="row">
        <div class="col-md-5">
          <label for="selectPark">Bãi: </label> <br>
          <b><%= @parking_address %></b>
        </div>
        <% if @parking.present? %>
        <div class="col-md-3">
          <label for="selectSlot">Số chỗ: </label>
          <select id="selectSlot" class="form-control">
            <option value="0">Số chỗ của xe</option>
            <option value="1">4 - 7</option>
            <option value="2">12 - 16</option>
            <option value="3">> 16</option>
          </select>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="result-parking container">
    <div class="row">
      <div class="col-7">
        <ul class="nav nav-tabs" id="resultTab" role="tablist">
          <li class="nav-item" style="display: none;">
            <a class="nav-link" data-toggle="tab" role="tab" href="#" aria-controls="" aria-selected="false">401</a>
          </li>
        </ul>
        <div class="tab-content" id="resultTabContent">
          <div class="tab-pane show" id="" role="tabpanel" aria-labelledby="" style="display: none;">
            <div class="container">
              <ul class="row slot-list-items">
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5" style="padding-top: 40px;">
        <form id="form-detail">
          <div class="form-group row">
            <div class="col-sm-4">
              <p>Bãi xe: </p>
            </div>
            <div class="col-sm-5">
              <b><%= @parking_address %></b>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-4">
              <p>Vị trí:</p>
            </div>
            <div class="col-sm-5">
              <input type="text" readonly class="form-control-plaintext vitri" disabled>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="bks" >BKS:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="bks" placeholder="Biển kiểm soát">
            </div>
          </div>
          <div class="form-group row options" style="display: none;">
            <div class="col-sm-4">
              <p>Thể loại thuê:</p>
            </div>
            <div class="col-sm-8">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="month">
                <label class="form-check-label">Theo tháng</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" value="day">
                <label class="form-check-label">Theo ngày</label>
              </div>
            </div>
          </div>
          <div class="select-month">
            <div class="form-group row">
              <div class="col-sm-4 ">
                <p>Số tháng thuê:</p>
              </div>
              <div class="col-sm-5">
                <input type="number" class="form-control" name="quantity" min="1" max="">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                <p>Giá:</p>
              </div>
              <div class="col-sm-5">
                <input id="price-month" type="text" readonly class="form-control-plaintext" disabled>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-9">
                <button type="button" class="form-control btn btn-dark" >Xác nhận</button>
                <p><b> <strong>Chú ý:</strong> Xác nhận cho khách thuê dài hạn !!!</b></p>
              </div>
            </div>
          </div>
          <div class="select-day">
            <!-- <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="time">Giờ vào:</label>
              <div class="col-sm-5">
                <input type="time" id="time" class="form-control" name="usr_time">
              </div>
            </div> -->
            <div class="form-group row">
              <div class="col-sm-4">
                <p>Giá:</p>
              </div>
              <div class="col-sm-5">
                <input type="text" id="price-hours" readonly class="form-control-plaintext" disabled>
              </div>

              <div class="form-group">
                <div class="col-sm-12">
                  <button type="button" class="form-control btn btn-dark" >Nhận khách vãng lai</button>
                  <p><b> <strong>Chú ý:</strong> Bạn đang nhận khách vãng lai !!!</b></p>
                </div>
              </div>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
