<h2 style="margin-top: 5px;">Thông tin tài khoản</h2>
<div class="form-group" style="margin-left: 25px;">
  <div class="row">
    Xin chào, đây là thông tin đăng nhập của bạn.
  </div>
  <div class="row">
    <b>Email:</b>&nbsp; <%= @mail %>
  </div>
  <div class="row">
    <b>Mật khẩu:</b>&nbsp; <%= @password %>
  </div>
</div>
