<h2 style="margin-top: 5px;">Account information</h2>
<div class="form-group" style="margin-left: 25px;">
  <div class="row">
    Hi, here is manager account info,
  </div>
  <div class="row">
    <b>Email:</b>&nbsp; <%= @mail %>
  </div>
  <div class="row">
    <b>Password:</b>&nbsp; <%= @password %>
  </div>
</div>
