<header class="site-header">
  <div class="nav-bar">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
          <div class="site-branding d-flex align-items-center">
            <h1><a class="d-block" href="index.html" rel="home">DANA PARK</a></h1>
          </div><!-- .site-branding -->

          <nav class="site-navigation d-flex justify-content-end align-items-center">
            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
              <li><a href="javascript:void(0)">Trang Chủ</a></li>
              <li><a href="javascript:void(0)">Bãi xe</a></li>
              <li><a href="javascript:void(0)">Đặt chỗ</a></li>
              <li><a href="javascript:void(0)">Thuê dài hạn</a></li>
              <li><a href="javascript:void(0)">Trợ giúp</a></li>
              <li class="login-btn button gradient-bg mt-2 mt-md-0">
                <a class="d-flex justify-content-center align-items-center" href="javascript:void(0)" data-toggle="modal" data-target="#loginModal">
                  <i class="fa fa-2x fa-sign-in"></i>Login
                </a>
              </li>
              <li><a href="javascript:void(0)" data-toggle="modal" data-target="#registerModal">Register</a></li>
            </ul>
          </nav><!-- .site-navigation -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .nav-bar -->

  <div class="swiper-container hero-slider">
    <div class="swiper-slide hero-content-wrap">
      <div class="hero-content-overlay position-absolute w-100 h-100">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
              <header class="entry-header">
                <h1>The Best <br>Parking Services</h1>
              </header>

              <div class="entry-content mt-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p>
              </div><!-- .entry-content -->

              <footer class="entry-footer d-flex flex-wrap align-items-center mt-4">
                <a href="#" class="button gradient-bg">Read More</a>
              </footer><!-- .entry-footer -->
            </div><!-- .col -->
            <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
              <iframe width="600" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=Da%20Nang+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create route map</a></iframe></div><br />
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .hero-content-overlay -->
    </div><!-- .hero-content-wrap -->
  </div><!-- .hero-slider -->
</header><!-- .site-header -->
