<div id="wrapper">

  <%= render 'layouts/admin/sidebar' %>

  <div id="content-wrapper">

    <div class="container-fluid">

      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Thong tin cac bai
        </div>
        <div class="card-body" style="min-height: 500px;">

          <div class="form-group">
            <div class="status">
              <div class="row">
                <div class="col-2">
                  <h4>Trang thai</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <label>Dang dat:</label>
                </div>
                <div class="col-4">
                  <p>1</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <label>Dang cho:</label>
                </div>
                <div class="col-4">
                  <p>1</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <label>Con trong:</label>
                </div>
                <div class="col-4">
                  <p>1</p>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="select-parking">
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <label for="selectPark">Bãi: </label>
                  <select id="selectPark" class="form-control">
                    <option value="0">Please select one</option>
                    <% @parkings.each do |p| %>
                      <option value="<%= p[0] %>"><%= p[1] %></option>
                    <% end %>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="selectSlot">Số chỗ: </label>
                  <select id="selectSlot" class="form-control">
                    <option value="0">Please select one</option>
                    <option value="1">4 - 7</option>
                    <option value="2">12 - 16</option>
                    <option value="3">> 16</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="result-parking container">
            <div class="form-group">
              <div class="row">
                <div class="col-9 mx-auto">
                  <ul class="nav nav-tabs" id="resultTab" role="tablist">
                    <!-- <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" role="tab" href="#home" aria-controls="home" aria-selected="true">401</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" role="tab" href="#profile" aria-controls="profile" aria-selected="false">402</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" role="tab" href="#contact" aria-controls="contact" aria-selected="false">403</a>
                    </li> -->
                  </ul>

                  <div class="tab-wrapper">
                    <div class="tab-content" id="resultTabContent">
                      <!-- <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="container">
                          <ul class="row slot-list-items">
                            <li class="col-2 slot-item"> <a class="selected" href="javascript:void(0)">1</a></li>
                            <li class="col-2 slot-item"> <a class="selecting" href="javascript:void(0)">2</a></li>
                            <li class="col-2 slot-item"> <a class="reservation" href="javascript:void(0)">3</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="tab-pane show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="container">
                          <ul class="row slot-list-items">
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">1</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">2</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">3</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">4</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">5</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">6</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="tab-pane show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="container">
                          <ul class="row slot-list-items">
                            <li class="col-2 slot-item"> <a class="" href="javascript:void(0)">1</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">2</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">3</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">4</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">5</a></li>
                            <li class="col-2 slot-item"> <a href="javascript:void(0)">6</a></li>
                          </ul>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2019</span>
        </div>
      </div>
    </footer>

  </div>
</div>
