@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

body {
  color: #e9ecef;
  font-size: 14px;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}

img {
  vertical-align: baseline;
}

/* Links */
a {
  color: #262626;
}

a:hover, a:focus, a:active {
  color: #262626;
}

/* a:focus {
  outline: thin dotted;
} */

a:hover, a:active {
  outline: 0;
  list-style: none;
}

nav.header-nav ul > li.active > a {
  color: #18a3eb;
}

/* Site Header */

.site-header {
  position: relative;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 20px 0;
}

/* Site Branding */
.site-branding {
  width: calc(100% - 24px);
  padding: 20px 0;
}

.site-branding a {
  margin-top: 6px;
}

@media screen and (min-width: 992px){
  .site-branding {
    width: auto;
  }
}

/* Main Menu */
.site-navigation ul {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 9999;
  width: 320px;
  max-width: calc(100% - 120px);
  height: 100%;
  padding: 30px 15px;
  margin: 0;
  background: #fff;
  list-style: none;
  overflow-x: scroll;
  transition: all 0.35s;
}

.site-navigation.show ul {
  left: 0;
}

.site-navigation ul li {
  margin: 0 24px;
}

.site-navigation ul li a {
  display: block;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #404040;
  text-decoration: none;
  transition: color .35s;
}

/* Login Button */
.login-btn {
  min-width: 150px;
  padding: 8px 12px 6px !important;
  margin-left: 8px;
  margin-right: 8px !important;
}

.login-btn img {
  display: inline-block;
  margin-right: 12px;
}

.login-btn a {
  padding: 0 !important;
  font-size: 16px;
  font-weight: 600;
  color: #fff !important;

}

@media screen and (min-width: 992px) {
  .site-navigation ul {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    overflow: auto;
    background: transparent;
  }

  .site-navigation ul li a {
    padding: 30px 0;
  }
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
  color: #18a3eb;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-content-wrap {
  min-height: 450px;
  position: relative;
  color: #fff;

  background-size: cover;
  background-position: center;
}

.hero-content-overlay {
  top: 0;
  left: 0;
  background: rgba(0,0,0,0);
}

.hero-content-overlay h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  color: #404040;
}

.hero-content-overlay p {
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  color: #828282;
}

/* Button */
.button {
  padding: 12px 50px 10px;
  margin-right: 32px;
  border: 0;
  border-bottom: 3px solid #18a3eb;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #404040;
  outline: none;
  background: #f0f4f8;
  text-decoration: none !important;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.button.dark {
  border-color: transparent;
  color: #fff;
  background: #18a3eb;
}

.button.gradient-bg {
  border-color: transparent;
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,.9) 100%); /* safari5.1+,chrome10+ */
  color: #fff;
}

/* Subscribe Banner */
.subscribe-banner {
  padding: 80px 0;
  background-color: rgba(0,0,0,.9);
  background-size: cover;
  text-align: center;
}

.subscribe-banner h2 {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.subscribe-banner input[type="email"] {
  width: 100%;
  padding: 8px 24px;
  border: 0;
  margin-top: 24px;
  font-size: 12px;
  font-style: italic;
  color: #404040;
  background: #fff;
  text-align: left;
}

.subscribe-banner input[type="submit"] {
  margin-top: 32px;
  margin-right: 0;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Our Services */
.our-services {
  padding: 100px 0;
  background-color: rgba(0,0,0,.9);
  background-size: cover;
}

.our-services-wrap {
  padding: 60px 80px 80px;
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,.9) 0%, rgb(0, 0, 0) 100%);
}

.our-services-wrap h2 {
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.our-services-cont {
  margin-bottom: 64px;
}

.our-services-cont .entry-header {
  min-height: 48px;
}

.our-services-cont .entry-header img {
  margin-right: 16px;
}

.our-services-cont h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.our-services-cont .entry-content {
  margin-top: 16px;
}

.our-services-cont .entry-content p {
  font-size: 14px;
  color: #fff;
}

.our-services-cont .entry-footer a {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

/* Footer */
.site-footer {
  position: relative;
  padding: 48px 0;
  background-size: cover;
  font-size: 14px;
  color: #828282;
}

.footer-widgets h2 {
  display: flex;
  align-items: center;
  min-height: 50px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
  color: #404040;
}

.foot-about p {
  font-size: 14px;
  line-height: 2;
}

.foot-about p.copyright {
  margin-top: 24px;
  font-size: 12px;
  font-weight: 500;
}

.foot-contact ul {
  list-style: none;
}

.foot-contact ul li {
  margin-bottom: 5px;
  font-weight: 500;
}

.foot-contact ul li span {
  display: inline-block;
  color: #404040;
}

.foot-contact ul li span {
  width:64px;
}

.foot-links ul {
  list-style: none;
  column-count: 2;
  column-gap: 10px;
}

.foot-links ul li {
  margin-bottom: 5px;
}

.foot-links ul li a {
  color: #828282;
}

.modal {
  z-index: 10000;
}

ul.slot-list-items {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}
ul.slot-list-items li.slot-item {
  display: inline-block;
  padding: 0;
}
ul.slot-list-items li.slot-item a {
  color: black;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 5px 5px 0 0 black;
  text-decoration: none;
}
ul.slot-list-items li.slot-item a.selected {
  background-color: red;
  color: white;
}
ul.slot-list-items li.slot-item a.selecting {
  background-color: gray;
  pointer-events: none;
}
ul.slot-list-items li.slot-item a.reservation {
  background-color: #e5d315;
  pointer-events: none;
}

.result-parking {
  display: none;
  margin-top: 35px;
}

.select-month, .select-day {
  display: none;
}



nav.header-nav ul li a {
  transition-duration: .3s;
  padding: 40px 10px;
  color: #000;
  font-weight: 500;
  display: inline-block
}

.breadcrum {
  background-color: #efefef;
  padding: 15px 0;
  margin-bottom: 5px
}

.breadcrum a {
  color: #000;
  font-style: italic
}

.breadcrum a:hover,
.pagination-container .pagination__item a.active,
.pagination-container .pagination__item a:hover {
  color: #f17130
}

.breadcrum span {
  margin: 0 5px
}

.introduction {
  max-width: 980px;
  margin: auto;
  padding: 25px 0
}

.introduction--bg {
  background-color: #fafafa
}

.introduction__header {
  margin-bottom: 25px
}

.introduction p {
  margin-bottom: 10px
}

.advertisement {
  padding-right: 0;
  margin: 0 15px 30px 0
}

.advertisement img {
  display: block;
  width: 100%
}

.advertisement img:hover {
  opacity: .7
}

.pagination-container .pagination {
  display: inline-block;
  margin: 20px 0
}

.pagination-container .pagination__item {
  display: inline-block;
  font-weight: 500;
  font-size: 16px
}

.pagination-container .pagination__item a {
  margin: 0 25px;
  color: #333
}

.header-container {
  padding: 0 45px
}

p {
  margin: 0
}

ul {
  list-style: none
}

a:hover {
  text-decoration: none
}

.brand__logo {
  margin-top: 10px;
  max-width: 180px
}

.brand__logo:hover {
  opacity: .7
}

.brand__brand-text p {
  font-family: "Helvetica Neue";
  letter-spacing: 2.91px;
  font-size: 10.2px;
  color: #9b9b9b
}

nav.header-nav {
  float: right
}

nav.header-nav ul {
  font-size: 0
}

nav.header-nav ul li {
  display: inline-block;
  width: auto;
  font-size: 16px
}

nav.header-nav ul li a:hover {
  color: rgba(50,200,250,1);
}

.search {
  background-color: #efefef;
  padding: 15px 0;
  border-bottom: 1px solid #fff
}

.search__search-form {
  padding: 25px 0;
  background-color: #fff
}

.search__search-form>div {
  margin: 0;
  padding: 0 25px
}

.search__search-form label {
  text-transform: capitalize;
  font-weight: 500
}

.search__search-form input {
  background-color: #efefef;
  border: 0;
  font-size: 14px
}

.search-result {
  padding: 25px 0
}

.search-result .result-content .sort-head {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 35px
}

.search-result .result-content .sort-head span {
  color: #9b9b9b;
  font-weight: 400
}

.result-item {
  padding-right: 0;
  position: relative;
  margin-bottom: 15px
}

.result-item .tour-image {
  width: 100%;
  height: 180px;
  transition-duration: .3s
}

.result-item .tour-image:hover {
  opacity: .7
}

.result-item .tour-infor {
  font-size: 18px;
  padding: 5px 15px 15px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .09)
}

.result-item .tour-infor__name {
  font-size: 18px;
  letter-spacing: .36px;
  color: #333
}

.result-item .tour-infor__route {
  font-size: 13px;
  color: #767676
}

.result-item .tour-infor__route p {
  padding-left: 25px
}

.result-item .tour-infor__route__start {
  background: url(../images/destination-pointer.png) no-repeat 7px 3px;
  padding-bottom: 5px
}

.result-item .tour-infor__route__des {
  background: url(../images/location-pointer.png) no-repeat 7px 0;
  padding-bottom: 5px
}

.result-item .tour-infor__price {
  margin-top: 10px;
  font-size: 16px
}

.result-item .tour-infor__price span {
  color: red;
  font-weight: 700
}

.result-item .tour-infor__discount {
  position: absolute;
  top: 0;
  right: 15px;
  background-color: #f17130;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px 2px;
  font-weight: 700;
  font-family: "SF UI Display"
}

.result-item .tour-infor__discount::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-top: 11px solid #f17130;
  clear: both;
  left: 0;
  top: 24px
}

.footer-container {
  background-color: #303030;
  color: #fff;
  padding: 40px 0 20px
}

.footer-container .footer .footer-title {
  margin-bottom: 10px
}
