<style media="screen">
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #007bff;
  }
  .bks {
    text-transform: uppercase
  }
  ::placeholder {
    text-transform: none;
  }
  .btn-dark {
    background-color: #45ba51;
    border-color: #45ba51;
  }
  .btn-dark:hover {
    background-color: #54945a;
  }
</style>

<div class="container" style="margin-top: 90px;">
  <div class="select-parking">
    <div class="form-group">
      <div class="row">
        <div class="col-md-5">
          <label for="selectPark">Bãi: </label>
          <select id="selectPark" class="form-control">
            <option value="0">Chọn bãi mà bạn muốn đậu</option>
            <% @parkings.each do |p| %>
            <option value="<%= p[0] %>"><%= p[1] %></option>
            <% end %>
          </select>
        </div>
        <div class="col-md-3">
          <label for="selectSlot">Số chỗ: </label>
          <select id="selectSlot" class="form-control">
            <option value="0">Loại xe của bạn</option>
            <option value="1">4 - 7</option>
            <option value="2">12 - 16</option>
            <option value="3"> Trên 16 chỗ</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="result-parking container">
    <div class="row">
      <div class="col-7">
        <ul class="nav nav-tabs" id="resultTab" role="tablist">
          <li class="nav-item" style="display: none;">
            <a class="nav-link" data-toggle="tab" role="tab" href="#" aria-controls="" aria-selected="false"></a>
          </li>
        </ul>
        <div class="tab-content" id="resultTabContent">
          <div class="tab-pane show" id="" role="tabpanel" aria-labelledby="" style="display: none;">
            <div class="container">
              <ul class="row slot-list-items">
              </ul>
            </div>
          </div>
        </div>
        <%= render 'layouts/note' %>
      </div>

      <div class="col-5">
        <form id="client-booking">
          <input id="slot-id" type="text" readonly hidden>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Bãi xe: </label>
            <div class="col-sm-5">
              <input type="text" readonly class="form-control-plaintext baixe" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vị trí: </label>
            <div class="col-sm-5">
              <input type="text" readonly class="form-control-plaintext vitri" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="bks" >BKS:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control bks" id="bks" placeholder="Biển kiểm soát" list="vehicles">
              <datalist id="vehicles">
                <% @vehicles.each do |v| %>
                <option value="<%= v %>"></option>
                <% end %>
              </datalist>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Giá/giờ: </label>
            <div class="col-sm-5">
              <input id="price-hours" readonly class="form-control-plaintext" disabled>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10" style="padding-left: 0;">
              <a id="btn-booking" href="javascript:void(0)" class="form-control btn btn-dark">Đặt xe</a>
              <p><b> <strong>Chú ý:</strong> Bạn chỉ được đặt xe trước 30 phút</b></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade right" id="slot-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <div class="modal-dialog modal-side modal-top-right" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Đặt chỗ</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input id="slot-id-modal" type="hidden">
          <p>Thời gian hết hạn đặt trước là: <b id="slot-expired-modal"></b></p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" id="btn-cancel-modal" class="btn btn-danger">Hủy đặt</button>
      </div>
    </div>
  </div>
</div>
</div>
