<style media="screen">
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #007bff;
  }
</style>

<div class="container" style="margin-top: 90px;">
  <div class="select-parking">
    <div class="form-group">
      <div class="row">
        <div class="col-md-5">
          <label for="selectPark">Bãi: </label>
          <select id="selectPark" class="form-control">
            <option value="0">Chọn bãi mà bạn muốn đậu</option>
            <% @parkings.each do |p| %>
            <option value="<%= p[0] %>"><%= p[1] %></option>
            <% end %>
          </select>
        </div>
        <div class="col-md-3">
          <label for="selectSlot">Số chỗ: </label>
          <select id="selectSlot" class="form-control">
            <option value="0">Loại xe của bạn</option>
            <option value="1">4 - 7</option>
            <option value="2">12 - 16</option>
            <option value="3"> Trên 16 chỗ</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="result-parking container">
    <div class="row">
      <div class="col-7">
        <ul class="nav nav-tabs" id="resultTab" role="tablist">
          <li class="nav-item" style="display: none;">
            <a class="nav-link" data-toggle="tab" role="tab" href="#" aria-controls="" aria-selected="false"></a>
          </li>
        </ul>
        <div class="tab-content" id="resultTabContent">
          <div class="tab-pane show" id="" role="tabpanel" aria-labelledby="" style="display: none;">
            <div class="container">
              <ul class="row slot-list-items">
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5">
        <form>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Bãi xe: </label>
            <div class="col-sm-5">
              <input type="text" readonly class="form-control-plaintext baixe" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Vị trí: </label>
            <div class="col-sm-5">
              <input type="text" readonly class="form-control-plaintext vitri" disabled>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">BKS:</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" placeholder="Biển kiểm soát">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Giờ vào:</label>
            <div class="col-sm-5">
              <input type="time" class="form-control" name="usr_time">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Giá: </label>
            <div class="col-sm-5">
              <input id="price-hours" readonly class="form-control-plaintext" disabled>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-9">
              <button type="button" class="form-control btn btn-dark" >Đặt xe</button>
              <p><b> <strong>Chú ý:</strong> Bạn chỉ được đặt xe trước 30 phút !!!</b></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
