<style media="screen">
  .car-selected {
    color: red;
  }
  .car-selecting {
    color: #af9999;
  }
  .car-reservation {
    color: #e5d315;
  }
  .description {
    padding: 10px;
    border: 1px solid #28a745;
    border-radius: 10px;
    text-align: center;
  }
  .description p {
    margin: 0;
    font-size: 14px;
  }
  .description-box {
    width: 50%;
    padding-top: 25%;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1.2px solid;
  }
</style>
<div class="description" style="margin-top: 30px;">
  <div class="form-group row" style="margin: 0;">
    <div class="col-3">
      <i class="fa fa-car fa-2x" aria-hidden="true"></i>
      <p>Chỗ trống</p>
    </div>
    <% if current_user && ['0','1'].include?(current_user.role) %>
    <div class="col-3">
      <i class="fa fa-car fa-2x car-selected" aria-hidden="true"></i>
      <p>Chỗ đang chọn</p>
    </div>
    <% end %>
    <div class="col-3">
      <i class="fa fa-car fa-2x car-selecting" aria-hidden="true"></i>
      <p>Chỗ đã đặt</p>
    </div>
    <div class="col-3">
      <i class="fa fa-car fa-2x car-reservation" aria-hidden="true"></i>
      <p>Chỗ đang giữ</p>
    </div>
  </div>
</div>
