<style media="screen">
  .car-selected {
    background-color: red;
  }
  .car-selecting {
    background-color: #af9999;
  }
  .car-reservation {
    background-color: #e5d315;
  }
  .description {
    padding: 10px;
    border: 1px solid #28a745;
    border-radius: 10px;
    text-align: center;
  }
  .description p {
    margin: 0;
    font-size: 14px;
  }
  .description-box {
    width: 50%;
    padding-top: 25%;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    border: 1.2px solid;
  }
</style>
<div class="description" style="margin-top: 30px;">
  <div class="form-group row" style="margin: 0;">
    <div class="col-3">
      <div class="description-box"></div>
      <p>Chỗ trống</p>
    </div>
    <div class="col-3">
      <div class="description-box car-selected"></div>
      <p>Chỗ đang chọn</p>
    </div>
    <div class="col-3">
      <div class="description-box car-selecting"></div>
      <p>Chỗ đã đặt</p>
    </div>
    <div class="col-3">
      <div class="description-box car-reservation"></div>
      <p>Chỗ đang giữ</p>
    </div>
  </div>
</div>
