<style media="screen">
  .car-selected {
    color: red;
  }
  .car-selecting {
    color: #caa19e;
  }
  .car-reservation {
    color: #e5d315;
  }
</style>
<ul class="row">
                    <li class="col-3 slot-item text-center">
                        <i class="fa fa-car fa-2x" aria-hidden="true"></i>
                        <p>Chỗ trống</p>
                    </li>
                    <li class="col-3 slot-item text-center">
                        <i class="fa fa-car fa-2x car-selected" aria-hidden="true"></i>
                        <p>Chỗ đang chọn</p>
                    </li>
                    <li class="col-3 slot-item text-center">
                        <i class="fa fa-car fa-2x car-selecting" aria-hidden="true"></i>
                        <p>Chỗ đã đặt</p>
                    </li>
                    <li class="col-3 slot-item text-center">
                        <i class="fa fa-car fa-2x car-reservation" aria-hidden="true"></i>
                        <p>Chỗ đang giữ</p>
                    </li>
                </ul>
